.productContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  background: url('../../assets/pngwing.com.png');
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: top right;
  margin: 0px;
  padding: 0px;

 
}