.button{
  width: 200px;
  height: 63px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  color: whitesmoke;
  background: var(--primary-color);
  border-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
  }
}

@media (max-width: 768px) {
  .button{
    width: 150px;
    height: 43px;
  }
  
}
