.hero{
  background-image: url('../../assets/bgHero.png');
  background-size: cover;
  background-position: center;
  padding-top: 6rem;
  width: 100%;
  

  .heroText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    .heroImage {
      max-width: 1000px;
      margin-left: -300px;
      
    }

    .callHero{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1{
        font-size: 3.5rem;
        color: whitesmoke;
        margin-top: auto;
        
        
        strong{
          color: var(--primary-color);
          
    
        }
     
        span{
          color: var(--primary-color);
        }
      }

    }
    
    
   

    .buttonContainer{
      display: flex;
      flex-direction: column;
      gap: 1.8rem;
      margin: 3rem 0;
      

      button{
        width: 255px;
        height: 60px;
        font-size: 1.5rem;
        font-weight: bold;
        border: none;
        background: var(--primary-color);
        border-radius: 15px;
        transition: all 0.2s ease;
        color: whitesmoke;

        &:hover {
          filter: brightness(0.8);
        }
      }
    }
  }
  
}