.itemContainer {
	display: flex;
	padding: 6rem 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	.hatImage {
		border-radius: 15px;

		width: 266px;
	}

	.item {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		justify-content: center;
		align-items: center;
		font-size: 1.1rem;
		color: whitesmoke;
		height: 50%;

		div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 0.5rem;

			p {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
			}
		}

		img {
			width: 50px;
			border-radius: 10px;
		}
	}
}
