.shopContainer{
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  color: white;


  .selectorContainer{
    display: flex;
    flex-direction: column;
    width: 16%;
    
    background: transparent;
    height: 100%;
    position: sticky;
    top:150px;
    left: 60px;

    label{
      color: whitesmoke;
      padding: 5px;
    }

    select{
      width: 100%;
      max-width: 50%;
      border: none;
      border-radius: 10px;
      padding: 6px;
      outline: none;
      background: var(--bg-grey);
      color: var(--primary-color);
      font-size: 1rem;
      font-weight: bold;

      option{
        background: var(--bg-grey);
        
      }
    }
  }

  .hatsContainer{
    width: 84%;
    padding-top: 6rem;
    flex-wrap: wrap;
    display: flex;

    .itemsContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 2rem;

    .itemsImage{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img{
        max-width: 266px;
        border-radius: 10px;
      }
    }
    .item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

     
    }

    }

  }
}

@media (max-width: 500px) {
  .itemsImage{
    img{
      width: 200px;
      
      
    }
  }

  
  
}