*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  margin: 0 auto;
  
}

::-webkit-scrollbar {
  width:10px;
  height: 10px;
  }
::-webkit-scrollbar-track {
  background: #111;
  }
::-webkit-scrollbar-thumb {
  background: #b1422f;
  }

:root{
  --primary-color: #b1422f;

  --bg-grey: #1a1818;
}

body{
  background-image: url('/bg44.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.92);
  font-family: 'Orbitron', sans-serif;
  height:100%;
  overflow-x: hidden;
}

.toast-message {
  background: darkblue;
  color: #fff;
  font-size: 20px;
  width: 34vw;
  padding: 30px 20px;
}