*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0 auto;
  
}

::-webkit-scrollbar {
  width:10px;
  height: 10px;
  }
::-webkit-scrollbar-track {
  background: #111;
  }
::-webkit-scrollbar-thumb {
  background: #b1422f;
  }

:root{
  --primary-color: #b1422f;

  --bg-grey: #1a1818;
}

body{
  background-image: linear-gradient(to right bottom, #212121, #1c1c1c, #181818, #131313, #0c0c0c, #0b0b0b, #090909, #080808, #0e0e0e, #131313, #171717, #1a1a1a);
  font-family: 'Orbitron', sans-serif;
  height:100%;
  
 
}

